@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html
{
    font-size: 62.5%;
}
body
{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-size: 1.6 rem;
}